ci:
  skip:
    - latexindent

repos:
  - repo: https://github.com/cmhughes/latexindent.pl
    rev: "V3.18"
    hooks:
      - id: latexindent
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.35.0
    hooks:
      - id: commitizen
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: "v14.0.6"
    hooks:
      - id: clang-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.3"
    hooks:
      - id: prettier
        stages:
          - commit
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: "22.10.0"
    hooks:
      - id: black
      - id: black-jupyter
