name: Documentation

on:
  push:

permissions:
  contents: write

env:
  PYTHON_VERSION: 3.x

jobs:
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Fonts
        run: |
          sudo apt --yes update
          sudo apt --yes install fonts-noto fonts-noto-cjk
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: pip
          cache-dependency-path: docs/requirements.txt
      - name: Install Python Dependencies
        run: pip install --requirement=docs/requirements.txt
      - name: Setup Tex Live
        uses: teatimeguest/setup-texlive-action@v3
        with:
          packages: scheme-full
      - if: github.ref == 'refs/heads/main'
        name: Deploy to GitHub Pages
        run: make --jobs docs-gh-deploy
